{% extends 'base.html' %}
{% block content %}
<h1>로그인 페이지</h1>
<div>
    <div class="form-group">
        <label for="userid">ID</label>
        <input type="email" class="form-control" id="userid" aria-describedby="emailHelp" placeholder="My ID">
    </div>
    <div class="form-group">
        <label for="userpw">PW</label>
        <input type="password" class="form-control" id="userpw" placeholder="My Password">
    </div>
    <button class="btn btn-primary" onclick="login()">로그인</button>
    <a href="/register">회원이 아니라면?</a>
</div>
<script src="{{ url_for('static', filename='memo/memo_login.js') }}"></script>
{% endblock content %}
    