html, body {
    height: 100%;
    margin: 0;
}

.container {
    border : 1px solid red;
    height : 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items {
    width: 100px;
    height: 100px;
    background-color : blue;
    margin: 1px;
}